/* AppLayout.module.css */
.header {
    /* Your header styles */
}

.contentLayout {
    /* Your content layout styles */
    margin-top: 0px !important;
    
}

.footer {
    /* Your footer styles */
}

.container {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}
